In [2]:
# input()
num1 = 6
print(num1)

6

In [7]:
num2 = input("Enter 1st Number")
num3 =  input("Enter 2nd Number")
num4 = input("Enter 3rd Number")
num5 = input("Enter 4th Number")
print(num2)
print(num3)
print(num4)
print(num5)

11
22
33
44

In [10]:
name = input("Enter Name")
print(name)

Zia Rajpoot

In [35]:
# Tuples: it is a data type that stores data, it can make with parenthesis() while lists can make with curly braces{}
# we cannot add any new thing or update in tuple whereas it can be done in list
# mutable (changes can be allowed)
# immutable (changes cannot be allowed) and tuples cannot support changes
fruits = ("apple", "grapes", "banana")
print(fruits)

('apple', 'grapes', 'banana')

True

In [12]:
fruits[2]

'banana'

In [13]:
fruits[1:3]

('grapes', 'banana')

In [14]:
for x in fruits:
    print(x)

apple
grapes
banana

In [15]:
li = [2]

In [18]:
tu = (2)
type(tu)

int

In [19]:
# standard tuple format
tu = (2,)
type(tu)

tuple

In [22]:
# if statements, conditions 
# typecasting means changing data types from one to other like as int to float
# input always return string data type
marks = int(input("Enter Marks"))
# marks = int(marks)
print(type(marks))

<class 'int'>

In [28]:
marks = int(input("Enter Marks"))
if marks >= 33:
    print("Pass")
else:
    print("Fail")
    
print("Congrats!")

Fail
Congrats!

In [26]:
# operators: 
# arithmetic: +, -, /, *
# relational : >, <, >=, <=, ==, !=    relation(True, False)
# logical: &&(and)=True when all values are true, ||(or)=True when one of the value is true, !=(not) = reverse values

In [32]:
temp = float(input("Enter Temperature:"))
if temp > 35:
    print("Hot Day")
elif temp >= 20 and temp <=35:
    print("Pleasant Day")
else:
    print("Cold Day")
print("Enjoy weather")

Pleasant Day
Enjoy weather

In [36]:
# in operator: (membership operator) check whether an element exist in list/tuple or not
# return type True or False
"apple" in fruits

True

In [45]:
number1 = input("Enter 1st Number:")
number2 = input("Enter 2nd Number:")
result = number1 + number2
result = int(result)
print(result)

1234

In [47]:
animal = input("What's your favorite animal?")
print(f"My favourite animal is also {animal}")

My favourite animal is also cow
cow

In [51]:
temperature = float(input("Enter temperature in Fahrenheit:"))
celsius:float = temperature-32*5.0/9.0
print(celsius)

58.22222222222222

In [ ]:
side1 = input